/*图片放大需要用到的图片*/

.imgzoom_pack {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, .7);
  display: none;
}

.imgzoom_pack .imgzoom_x {
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background: #000;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  cursor: pointer;
}

.imgzoom_pack .imgzoom_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.imgzoom_pack .imgzoom_img img {
  width: 100%;
  position: absolute;
  top: 50%;
}
